.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}
.explore-button {
  z-index: 2;
  display: flex;
  padding: 12px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #00a1d4;
}

.app-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #42607b;
  min-height: 100vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.details-container {
  display: flex;
  min-height: 89vh;
  padding: 40px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background: #42607b;
}

.details-header {
  display: flex;
  padding: 18px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #ffffff;
}

.details-content {
  display: flex;
  padding: 0px 120px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
  align-self: stretch;
  color: #ffffff;
}

.details-logo {
  width: 120px;
  height: 120px;
}

.details-title {
  color: #fff;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.details-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
}

.sec-title {
  display: flex;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.contact {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}

.contact-left {
  display: flex;
  width: 6%;
}
.contact-right {
  display: flex;
  width: 70%;
}

.footer-btn {
  display: flex;
  padding: 12px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #00a1d4;
  text-decoration: none;
}

.btn-text {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
  background: #00a1d4;
}

.sidebar-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  /*   transition: right ease 1.2s; */
}

.sidebar-header {
  color: #f5f5f5;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;
  width: 100%;
}
.sidebar-content {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  cursor: pointer;
  overflow-y: scroll;
}

.sub-nav-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.sub-nav-footer {
  display: flex;
  padding: 4px 0px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.sub-nav {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  color: #fff;
  &.active {
    border-radius: 8px;
    background: #1a2632;
    transition: all 0.3s ease-in-out;
  }
}

.sub-nav-header-text {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}
